<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <ul class="footer__links">
        <li><a href="https://ethics.sk.co.kr/Eng/Main.aspx" class="footer__link" target="_blank">SK Ethical Management</a></li>
        <li><a href="/eng/sitemap" class="footer__link">Sitemap</a></li>
      </ul>
      <div class="badge">
        <span>🏆</span>
        <span>SYSTEM CERTIFICATION SGS</span>
      </div>
    </div>

    <div class="footer__bottom">
      <div>
        <address class="footer__address">
          SK-C Tower, 15 Chungmu-ro, Jung-gu, Seoul, Republic of Korea<br>
          TEL: 02-3787-1234
        </address>
        <p class="footer__copyright">Copyright by SKC. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
