<nav class="page-nav" aria-label="Page sections">
  <ul>
    <li class="page-nav__item">
      <a href="#intro" class="page-nav__link page-nav__link--active">
        <span class="page-nav__number">01</span>
        <span class="page-nav__dot"></span>
      </a>
    </li>
    <li class="page-nav__item">
      <a href="#corporation" class="page-nav__link">
        <span class="page-nav__number">02</span>
        <span class="page-nav__dot"></span>
      </a>
    </li>
    <li class="page-nav__item">
      <a href="#creation" class="page-nav__link">
        <span class="page-nav__number">03</span>
        <span class="page-nav__dot"></span>
      </a>
    </li>
    <li class="page-nav__item">
      <a href="#communication" class="page-nav__link">
        <span class="page-nav__number">04</span>
        <span class="page-nav__dot"></span>
      </a>
    </li>
  </ul>
</nav>
