name: Reusable Docs
on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true
jobs:
  build_docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Install MkDocs
        run: |
          pip install mkdocs-material
      - name: Build documentation site
        run: |
          mkdocs build --strict
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: site
